@font-face {
  font-family: 'SVN-Heavenly';
  src: url('./assets/fonts/SVN-Heavenly.otf') format('opentype');
}
@font-face {
  font-family: 'SVN-Heavenly-Bold';
  src: url('./assets/fonts/SVN-Heavenly-Bold.otf') format('opentype');
}